@import '../../../lib/css/abstract/_variables.scss';

.block-hero{


    .bannerimage {
        position: relative;
        width: 100%;
        z-index: 9;
    
    
        .imaget img {
            max-height: 100vh;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    
        .Blureffect {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(rgb(16, 113, 151), .4);
        }
    
    }
    
    
    .Maintxt {
        z-index: 10;
        width: 100%;
        top: 25%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: center;
    
        .smalltxt {
            font-family: $fontmain;
            align-self: center;
            justify-content: center;
            font-size: 11px;
            color: $primary;
    
        }
    
        .biggrtxt {
            font-family: $fontmain;
            text-align: center;
            align-self: center;
            justify-content: center;
            font-size: 40px;
            color: $white;
        }
    
        .buttonsban {
            position: relative;
            top: 70px;
            align-self: center;
            font-family: $fontmain;
    
            .button1 {
                margin: $marginbutton;
                border: $white solid 1px;
                background-color: transparent;
                color: $white;
                padding: $buttonsize;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                transition: all $tanimation;
            }
    
            .button1:hover {
                color: $primary;
                border: $primary solid 1px;
                box-shadow: 5px 5px $primary;
                margin: $marginbutton;
                background-color: transparent;
                padding: $buttonsize;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
            }
    
            .button2 {
                margin: $marginbutton;
                border: $primary solid 1px;
                background-color: $primary;
                color: $white;
                padding: $buttonsize;
                border-radius: 5px;
                text-align: center;
                text-decoration: none;
                font-size: 16px;
                transition: all $tanimation;
            }
    
            .button2:hover {
                border: $white solid 1px;
                background-color: transparent;
            }
        }
    }

}

