.block-showprojects {
  margin: 100px 0;
}
.block-showprojects .projecttext {
  text-align: center;
}
.block-showprojects .projecttext h2 {
  font-family: "OCR-A";
  font-size: 20px;
  color: #FF3454;
}
.block-showprojects .projecttext h1 {
  font-family: "OCR-A";
  font-size: 40px;
  color: black;
}
.block-showprojects .projectsingle {
  width: 35%;
  height: 100px;
  background-color: black;
}
.block-showprojects .projectsingle .image {
  width: auto;
  height: 10%;
}
.block-showprojects .projects_showcase_parent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 500px;
  width: 100%;
}
.block-showprojects .projects_showcase_parent .project_box {
  flex: 1;
  flex-basis: auto;
  max-width: 32%;
  height: 100%;
  border: 1px solid #ebebeb;
}
.block-showprojects .projects_showcase_parent .project_box .upper {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #FF3454;
}
.block-showprojects .projects_showcase_parent .project_box .upper .number {
  font-size: 40px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 3;
  color: #FF3454;
}
.block-showprojects .projects_showcase_parent .project_box .upper .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(6, 46, 62, 0.7);
}
.block-showprojects .projects_showcase_parent .project_box .upper .bg-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}
.block-showprojects .projects_showcase_parent .project_box .upper .bg-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.block-showprojects .projects_showcase_parent .project_box .lower {
  padding: 15px;
}
.block-showprojects .projects_showcase_parent .project_box .lower .type {
  color: #FF3454;
}
.block-showprojects .projects_showcase_parent .project_box .lower .title {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 15px;
}
.block-showprojects .projects_showcase_parent .project_box .lower .actions {
  padding: 20px 0;
  width: 100%;
}
.block-showprojects .projects_showcase_parent .project_box .lower .actions .buttonview {
  position: relative;
  padding: 10px;
  text-decoration: none;
  border: none;
  width: 40%;
  background-color: white;
}
.block-showprojects .projects_showcase_parent .project_box .lower .actions .buttonview:hover {
  cursor: pointer;
  color: #FF3454;
  transition: all 0.2s;
}
.block-showprojects .allprojects {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-top: 50px;
}
.block-showprojects .allprojects a {
  display: block;
  margin: auto;
}
.block-showprojects .allprojects .ViewButton {
  display: block;
  margin: auto;
  border: black solid 1px;
  background-color: transparent;
  color: black;
  padding: 18px 40px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s;
}
.block-showprojects .allprojects .ViewButton:hover {
  cursor: pointer;
  color: #FF3454;
  border: #FF3454 solid 1px;
  box-shadow: 5px 5px #FF3454;
  background-color: transparent;
  padding: 18px 40px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}