@import '../../../lib/css/abstract/_variables.scss';

.block-showprojects {
    margin: 100px 0;

    .projecttext {
        text-align: center;

        h2 {
            font-family: $fontmain;
            font-size: 20px;
            color: $primary;
        }

        h1 {
            font-family: $fontmain;
            font-size: 40px;
            color: $black;
        }
    }

    .projectsingle {
        width: 35%;
        height: 100px;
        background-color: black;

        .image {
            width: auto;
            height: 10%;
        }

        .info {}

    }

    .projects_showcase_parent {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 500px;
        width: 100%;

        .project_box {
            flex: 1;
            flex-basis: auto;
            max-width: 32%;

            height: 100%;
            border: 1px solid darken(white, 8%);

            .upper {
                position: relative;
                width: 100%;
                height: 200px;
                background-color: $primary;

                .number {
                    font-size: 40px;
                    position: absolute;
                    right: 5px;
                    bottom: 5px;
                    z-index: 3;
                    color: $primary;
                }

                .overlay {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: rgba($secondary, .7);
                }

                .bg-image {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 0;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .lower {
                padding: 15px;

                .type {
                    color: $primary;
                }

                .title {
                    font-size: 22px;
                    font-weight: bolder;
                    margin-bottom: 15px;
                }

                .actions {
                    padding: 20px 0;
                    width: 100%;

                    .buttonview {
                        position: relative;
                        padding: 10px;
                        text-decoration: none;
                        border: none;
                        width: 40%;
                        background-color: $white;
                        &:hover {
                            cursor: pointer;
                            color: $primary;
                            transition: all $tanimation;
                        }
                    }
                }
            }
        }
    }

    .allprojects {
        margin: auto;
        width: 50%;
        padding: 10px;
        padding-top: 50px;

        a{
            display: block;
            margin: auto;
        }
        .ViewButton {
            display: block;
            margin: auto;
            border: $black solid 1px;
            background-color: transparent;
            color: $black;
            padding: $buttonsize;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            transition: all $tanimation;
        }

        .ViewButton:hover {
            cursor: pointer;
            color: $primary;
            border: $primary solid 1px;
            box-shadow: 5px 5px $primary;
            background-color: transparent;
            padding: $buttonsize;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
        }
    }

    
}